#title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: purple;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#game {
    background: lightgray;
    text-align: center;
    color: blue;
    font-family: 'Varela Round', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
}

#prizes {
    background: goldenrod;
    text-align: center;
    margin-top: 25px;
    padding: 10px;
}

#money {
    background: blue;
    margin-top: 15px;
    text-align: center;
    padding: 7px;
}

#money2 {
    background: green;
    margin-top: 15px;
    text-align: center;
    padding: 7px;  
}

#money3 {
    background: yellow;
    margin-top: 15px;
    text-align: center;
    padding: 7px;
}

#money4 {
    background: orange;
    margin-top: 15px;
    text-align: center;
    padding: 7px;
}

#money5 {
    background: red;
    margin-top: 15px;
    text-align: center;
    padding: 7px;
}